#root {
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    border-bottom: 2px solid whitesmoke;
}

main {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
}

form {
    display: flex;
}

#circle {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100vw;
    background: #f1f1f1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 6.5px 17px 3px #dddddd;
    transform: translateY(-45vw);
}

#blank {
    height: 45vw;
}

h3 {
    color: #00cdc9;
    border-bottom: 5px solid #00cdc9;
    padding: 0 0.5em;
    font-size: medium;
}

.Images {
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Images img {
    width: 30%;
    height: auto;
}

@media screen and (max-width: 1480px) {
    main {
        width: 80%;
    }
    .Images {
        flex-direction: column;
        margin-top: 5vw;
    }
    .Images img {
        width: 100%;
        margin-bottom: 3rem;
    }
}
@media screen and (min-width: 1480px) {
    .bigScreenOnly {
        display: none;
    }
}
@media screen and (max-width: 1480px) {
    .bigScreenOnly {
        display: block;
    }
}
