.Certificate {
    background-color: #ebebeb;
    color: #07a3a0;
    padding: 2em;
    border-radius: 10%;
    width: 13em;
    max-width: 13em;
    height: 7em;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.certificateImg {
    margin-top: 0.4em;
    height: 5em;
    width: 5em;
}

p {
    padding: 0 0.5em;
}
@media screen and (max-width: 790px) {
    .Certificate {
        font-size: 8px;
    }
}
@media screen and (max-width: 630px) {
    .Certificate {
        font-size: 7px;
        width: 8em;
        margin: 1em;
    }
}

@media screen and (max-width: 510px) {
    .Certificate {
        flex-direction: row;
    }
}
