.Perk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.perkIcon {
    height: 2.5em;
    margin: 0.7em;
    width: auto;
}
.PerkDesc {
    font-size: small;
    text-align: left;
}

@media screen and (max-width: 1180px) {
    .Perk {
        justify-content: center;
        margin: 0.2em 1em;
        flex-direction: column;
    }
    .PerkDesc {
        font-size: medium;
        text-align: center;
    }
}

@media screen and (max-width: 1060px) {
    .Perk {
    }
    .PerkDesc {
        font-size: small;
    }
}
@media screen and (max-width: 860px) {
    .Perk {
        flex-direction: row;
    }
    .PerkDesc {
        font-size: small;
    }
}

@media screen and (max-width: 860px) {
    .Perk {
        flex-direction: column;
    }
    .PerkDesc {
    }
}
