.UserThoughts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2em;
    padding-left: 5rem;
    justify-content: space-around;
}

#SwipeCardsPanel {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    width: 15rem;
    height: 15rem;
    font-size: 1vw;
}

#LabelandButtonsPanel {
    width: 19rem;
    height: 15rem;
}

h2 {
    color: #00cdc9;
    font-size: 1.8em;
    text-align: left;
}

.SwipeButtons {
    display: flex;
    justify-content: left;
}

.SwipeButtons button {
    background-color: #1a1a1a00;
    margin: 0.3em;
    padding: 0.2em;
}

.card-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    transform: scaleY(calc(1 + var(--abs-offset) * -0.6))
        translateZ(calc(var(--abs-offset) * -3rem))
        translateX(calc(var(--offset) * -5rem));

    transition: all 0.3s linear;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-container .SwipeCard {
    box-shadow: -3px 0px 7px 1px
        rgb(209, 209, 209, calc(255 + -225 * var(--offset)));
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (max-width: 1480px) {
    .UserThoughts {
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        padding-left: 0;
    }
    h2 {
        text-align: center;
        font-size: 2em;
    }
    .card-container {
        left: 0;
        right: 0;
        margin: auto;
        align-items: center;
    }
    #SwipeCardsPanel {
        width: 100%;
        font-size: 1.5vw;
    }
    .SwipeButtons {
        justify-content: center;
    }
    #LabelandButtonsPanel {
        width: 80%;
        height: 10rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1308px) {
    #LabelandButtonsPanel {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 790px) {
    #LabelandButtonsPanel {
        margin-bottom: 8rem;
    }
    #SwipeCardsPanel {
        font-size: 2vw;
    }
}

@media screen and (max-width: 580px) {
    #LabelandButtonsPanel {
        margin-bottom: 8rem;
    }
    #SwipeCardsPanel {
        font-size: 2.5vw;
    }
}
